<div class="card-container"> 
  <!-- <div class="spinner">
     <mat-spinner [diameter]=40 *ngIf="isLoading"></mat-spinner>
   </div> -->
   <div class="container">
     <div class="row">
         <div class="col-md-6">
          <button class="btn btn-success float-right" matTooltip="Random Update User No of Orders" (click)="randomUpdate()">Random Update</button>
        </div>
         <div class="col-md-6">
            <mat-card>
            <form action="#" autocomplete="off">
                <mat-form-field style="width:45%">
                  <input matInput name="name" [(ngModel)]="usersearch" (keyup)="userChangeValue(nameInput.value)" type="text" placeholder="Search" #nameInput="ngModel">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <button class="btn btn-success float-right"  (click)="openDialog(0,'create')">+ New User</button>
           </form> 
        </mat-card>
     </div>
   </div>
 </div>
   <!-- </mat-card> -->
    <table mat-table [dataSource]="users" role="grid" class="mat-elevation-z8 table-striped">
     <ng-container matColumnDef="Name">
       <th mat-header-cell *matHeaderCellDef>User Name </th>
       <td mat-cell *matCellDef="let element"> 
           {{element.name}}
         </td>
     </ng-container>
     <ng-container matColumnDef="Email">
       <th mat-header-cell *matHeaderCellDef > Email </th>
       <td mat-cell *matCellDef="let element" matTooltip="{{element.email}}"> {{element.email}} </td>
     </ng-container>
     <ng-container matColumnDef="Created At">
       <th mat-header-cell *matHeaderCellDef > Created At </th>
       <td mat-cell *matCellDef="let element" matTooltip="{{element.email}}"> {{element.createdAt | date}} </td>
     </ng-container>
     <ng-container matColumnDef="Status">
       <th mat-header-cell *matHeaderCellDef>Status </th>
       <td mat-cell *matCellDef="let element">
           {{element.status}} 
       </td>
     </ng-container>  
     <ng-container matColumnDef="Action">
       <th mat-header-cell *matHeaderCellDef  style="text-align: center;">Action </th>
       <td mat-cell *matCellDef="let element" style="text-align: center;">
         <button mat-button color="primary" (click)="openDialog(element._id,'edit')"
         matTooltip="Edit User Details" aria-label="Button that displays a tooltip when focused or hovered over">
           <mat-icon md-list-icon>edit</mat-icon>
         </button>   
        <button mat-button color="warn"  (click)="onDelete(element._id)"
         matTooltip="Delete User" aria-label="Button that displays a tooltip when focused or hovered over">
           <mat-icon md-list-icon>delete</mat-icon>
         </button>
       </td>
     </ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
   <mat-progress-spinner *ngIf="isLoading" class="example-margin" mode="indeterminate" diameter="40" value="20"></mat-progress-spinner> 
   <p class="info-text mat-body-1" *ngIf="userCount <= 0 && !isLoading">No Users Found!</p>
   <mat-paginator [length]="userCount" [pageSize]="usersPerPage" [pageSizeOptions]="userSizeOptions" (page)="onChangedPage($event)"
   *ngIf="users.length > 0"></mat-paginator>
 </div> 
   